.active {
    background-color: #28a745b3;
    color: #fff;
}

.active>i {
    color: #fff;
}

.active .rounded-full {
    color: #28a745b3;
    background-color: #fff;
}

.react-select__control, .react-select__control--is-focused {
    outline: none !important;
    box-shadow: none !important;
  }